<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analisis Sentimen Naive Bayes dan SVM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1 class="text-center mt-5 mb-4">Analisis Sentimen Naive Bayes dan SVM</h1>


    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                <form method="POST" class="text-center">
                    <label for="url" class="form-label">Masukkan URL aplikasi:</label>
                    <input type="text" id="url" name="url" class="form-control mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                </div>
            </div>
        </div>
    </div>

        {% for review in reviews_data %}
        <h2 class="text-center mt-5 mb-4">Hasil</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-center mt-2 mb-4">Naive Bayes</h3>
                    <strong>Review:</strong> {{ review.review }}<br>
                    <strong>Sentimen:</strong> {{ review.sentiment }}
                </div>
                <div class="col-md-6">
                    <h3 class="text-center mt-2 mb-4">Support Vector Machine</h3>
                    <strong>Review:</strong> {{ review.review }}<br>
                    <strong>Sentimen:</strong> {{ review.sentiment }}
                </div>
            </div>
        </div>

        {% endfor %}
<!--
    {% if wordcloud_image %}
        <h2>Wordcloud</h2>
        <img src="data:image/png;base64,{{ wordcloud_image }}" alt="Wordcloud">
    {% endif %} -->
</body>
</html>
